.popup__input-container {
    margin: 0px;
    padding: 0px 36px 0px 36px;
    border: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
}
@media screen and (max-width: 530px) {
    .popup__input-container  {
        padding-left: 22px;
        padding-right: 22px;
    }
}
