.header__logo {
    padding-bottom: 41px;
    background-image: url(../../../images/header-logo-big.svg);
    background-repeat: no-repeat;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: content-box;
    box-sizing:border-box;
    max-width: 142px;
    background-size: 142px 33px;

}
@media screen and (max-width: 660px) {
    .header__logo  {
        min-height: 55px;
    }
}
@media screen and (max-width: 320px) {
    .header__logo  {
        padding-bottom: 31px;
        background-size: 103.74px 24.4px;
    }
}