.header__logo {
    background-image: url(../../../images/header-logo-big.svg);
    background-repeat: no-repeat;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: content-box;
    box-sizing:border-box;
    max-width: 142px;
    background-size: 142px 33px;
    height: 33px;
    width: 142px;

}
@media screen and (max-width: 320px) {
    .header__logo  {
        background-size: 103.74px 24.4px;
        height: 24px;
        width: 104px;
    }
}