.popup__toggle-image {
    position: relative;
    width: 33px;
    height: 33px;
    background-color: none;
    top: -40px;
    left: 430px;
    z-index: 100;
    padding: 0px;
    background: rgba(0, 0, 0, 0);
    background-image: url(images/popup-close-icon.svg);
    border: none;
    background-repeat: no-repeat;
} 
.popup__toggle-image:hover {
    opacity: 0.8;
}
@media screen and (max-width: 525px) {
    .popup__toggle-image  {
        background-image: url(images/popup-close-icon-small.svg);
        top: -30px;
        left: 262px;
    }
}


