.element__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 246px;
    padding: 25px 15px 31px 21px;
    max-width: 246px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:content-box;
    font-family: 'Inter', Arial, sans-serif;
}